<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.ArticleMapper" >
    <resultMap id="BaseResultMap" type="com.neo.entity.TArticle" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="read_count" property="readCount" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,title,content,read_count,image,create_time,status
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM t_article 
	   ORDER BY id ASC
    </select>
    
    <select id="getAllByStatus" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM t_article
	   WHERE status = '0'
	   ORDER BY create_time ASC
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM t_article
	   WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.neo.entity.TArticle" >
       INSERT INTO 
       		t_article
       		(id,title,content,read_count,image,create_time,status) 
       	VALUES
       		(FLOOR( 500 + RAND() * (1000 - 500)),#{title,jdbcType=VARCHAR},#{content},#{readCount},#{image},NOW(),#{status})
    </insert>
    
    <update id="update" parameterType="com.neo.entity.TArticle" >
       UPDATE 
       		t_article ta
       SET 
       	ta.title = #{title,jdbcType=VARCHAR},
       	ta.content = #{content},
       	ta.read_count = #{readCount},
       	ta.status = #{status}
       WHERE 
       		ta.id = #{id}
    </update>
   
    
    <update id="updateStatus" parameterType="com.neo.entity.TArticle" >
       UPDATE 
       		t_article 
       SET
       	status = #{status}
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.String" >
       DELETE FROM
       		 t_article 
       WHERE 
       		 id =#{id}
    </delete>

</mapper>