<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.ProblemMapper">

	<select id="showProblem" resultType="com.neo.entity.TProblem">
		SELECT 
			id,title,content,create_time createTime,status 
		FROM t_problem 
		WHERE status = '0'
	</select>
	
	<select id="showProblemDetails" resultType="com.neo.entity.TProblem">
		SELECT 
			title,content 
		FROM t_problem 
		WHERE id = #{problemId,jdbcType=VARCHAR}
	</select>
</mapper>