<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.VestMapper">
	
	<select id="findAuditingStatus" resultType="string" parameterType="java.lang.String">
		SELECT 
			status 
		FROM t_auditing 
		WHERE source = #{source} AND market_code = #{marketCode}
	</select>
	
	<select id="showModel" resultType="com.neo.entity.TModel">
		SELECT 
			index, article, counter, mine 
		FROM t_model 
		WHERE source = #{source} AND market_code = #{marketCode}
	</select>

</mapper>